body {
    /* background-color: #3dc291; */
    /* padding-left: 8em;
    padding-right: 8em; */
    background-color: #fefefe;
    text-align: center;
}
.Search {
padding-left: 10em;
}
/* 
.title {
    width: 3em;
} */
h3 {
    text-align: center;
}
.form_field {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    /* background-color: #3dc291; */
    padding-bottom: 2em;
    padding-top: 5em;
} 

.form_field {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    /* background-color: #3dc291; */
    padding-bottom: 2em;
    padding-top: 5em;
}

.inputs {
    margin: auto;
    width: 50%;
    padding: 10px;
}

button {
    text-align: center;
}


/*edit modal*/
.editmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #8da25d;
}

 /* Modal Content for edit modal/Box */
 .edit_modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

/* The Close Button for edit modal*/

  .close_edit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }



/* Create a new modal*/

.modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: whitesmoke;

}


.cont {
    width: 50%; /* Could be more or less, depending on screen size */
}

  /* Modal Content/Box */
.modal-content {
    background-color: yellow;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
.close {
    color: yellow;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-items: center;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

.signin {
    /* background: $p; */
	padding: 2em;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	box-shadow: 0 0 2em hsl(231deg 62% 94%);
}

.dash {
    padding: 2em;
    width: 25em;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	box-shadow: 0 0 2em hsl(231deg 62% 94%);
}

.content {
    /* position: relative; */
    display: flex;
}

.search {
    position: absolute;
    /* left: 150px; */
    margin-right: 5em;
}

.items {
    position: absolute;
    right: 15em; 
    /* background-color: black; */
    /* margin-right: 5em; */
}



.show_duties {
    display: flex;
    margin-bottom: 25em;  
    padding-bottom: 25em;
    background-color: #aaa;
    justify-content: center;
    align-items: center;
}

.description_ {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    padding: 60px;
  text-align: center;
  background: whitesmoke;
  color: white;
  font-size: 30px;
}

.card_buttons {
    display: flex;
}
 
.items_list {
    color: black;
}

